{% extends "app/base_site.html" %}
{% load crispy_forms_tags %}
{% block title %} User Activation {% endblock title %}
{% block stylesheets %}
  {{ block.super }}
  <link href="/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
        {% if messages %}
        {% for message in messages%}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade in" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
              </button>
              <strong>{{ message }}</strong>
            </div>
        {% endfor %}
      {% endif %}
      <div class="row">
       {% if obj %}
        <div class="col-md-6 col-sm-6 col-xs-6">
          <div class="x_panel">
            <div class="x_title">

                    <h2> {{obj.username}}</h2>
                    <br/><small>{{ obj.email }}</small>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
               <form method="post">
                 {% csrf_token %}
                    <fieldset class="form-group">
                        {{ form|crispy }}
                    </fieldset>
                  <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                      <button type="submit" class="btn btn-success">Update</button>
                    </div>
                  </div>
                  <div class="clearfix"></div>
               </form>
            </div>
          </div>
        </div>
       {% endif %}
      </div>


  <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>User List</small></h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <table id="datatable-checkbox" class="table table-striped table-bordered bulk_action">
                <thead>
                  <tr>
                    <th>
  			 <th><input type="checkbox" id="check-all" class="flat"></th>
  		  </th>
                    <th>Name</th>
                    <th>User Name</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th>Activate</th>
                  </tr>
                </thead>
                <tbody>

                {% if model %}
                    {% for mod in model%}
                    <tr>
                        <td>
                         <th><input type="checkbox" id="check-all" class="flat"></th>
                        </td>
                        <td>{{mod.first_name}}</td>
                        <td>{{mod.username}}</td>
                        <td>{{mod.email}}</td>
                        <td>{{mod.status}}</td>
                        <td>
                            <a href="{% url 'activate_user_update' mod.id %}">
                            <i class="fa fa-edit"></i></a></td>
                    </tr >
                    {% endfor %}
                {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
  </div>
{% endblock content %}
