{% extends "app/base_site.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="row">
        <div class="col-md-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>DCN Parts</h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <br />
                <form method="post">
                    {% csrf_token %}
                    <div class="form-row">
                      <div class="form-group col-md-3 mb-0">
                        {{ form.parent_part_no|as_crispy_field }}
                      </div>
                      <div class="form-group col-md-3 mb-0">
                        {{ form.part_no_old|as_crispy_field }}
                      </div>
                      <div class="form-group col-md-3 mb-0">
                        {{ form.part_no_new|as_crispy_field }}
                      </div>
                      <div class="form-group col-md-3 mb-0">
                        {{ form.impl_date|as_crispy_field }}
                      </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3 mb-0">
                          {{ form.part_description_old|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-3 mb-0">
                          {{ form.part_description_new|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-3 mb-0">
                          {{ form.impl_serial_no|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-3 mb-0">
                          {{ form.usage_qty_old|as_crispy_field }}
                        </div>
                      </div>
                      <div class="form-row">
                          <div class="form-group col-md-3 mb-0">
                            {{ form.stock_details_on_hand|as_crispy_field }}
                          </div>
                          <div class="form-group col-md-3 mb-0">
                            {{ form.stock_details_open_po|as_crispy_field }}
                          </div>
                          <div class="form-group col-md-3 mb-0">
                            {{ form.stock_details_total_stock|as_crispy_field }}
                          </div>
                          <div class="form-group col-md-3 mb-0">
                            {{ form.usage_qty_new|as_crispy_field }}
                          </div>
                      </div>
                      <div class="form-row">
                          <div class="form-group col-md-6 mb-0">
                            {{ form.remarks|as_crispy_field }}
                          </div>
                      </div>

<!--                <div class="form-group">-->
<!--                  <div class="checkbox col-md-6">-->
<!--                    <label><input type="checkbox" value="">From TP</label>-->
<!--                    <label><input type="checkbox" value="">From MP Start</label>-->
<!--                    <label><input type="checkbox" value="">Only for TP</label>-->
<!--                    <label><input type="checkbox" value="">Inprogress of MP</label>-->
<!--                  </div>-->
<!--                </div>-->
<!--<link  rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">-->
<!--<input name="dcn_no_id" type="hidden" value="{{ info.id }}">-->
<!--<div class="container">-->
<!--<table  class="table table-hover small-text" id="tb">-->
<!--<tr class="tr-header">-->
<!--	<th>Parent Part No</th>-->
<!--    <th>Part No Old</th>-->
<!--    <th>Part No New</th>-->
<!--    <th>part Description Old</th>-->
<!--    <th>part Description New</th>-->
<!--    <th>Usage Qty Old</th>-->
<!--    <th>Usage Qty New</th>-->
<!--    <th>On Hand Stock</th>-->
<!--    <th>Open PO</th>-->
<!--    <th>Total Stock</th>-->
<!--    <th>Remarks</th>-->
<!--    <th>Impl Date</th>-->
<!--    <th>Impl Serial No</th>-->
<!--<th>-->
    <a href="javascript:void(0);" style="font-size:18px;" id="addMore" title="Add More Person"><span class="glyphicon glyphicon-plus"></span></a></th>
<!--<tr>-->
<!--	<td><input type="text" style="width:100%;" name="parent_part_no" value="a"></td>-->
<!--    <td><input type="text" style="width:100%;" name="part_no_old" value="b"></td>-->
<!--    <td><input type="text" style="width:100%;" name="part_no_new" value="c"></td>-->
<!--    <td><input type="text" style="width:100%;" name="part_description_old" value="d"></td>-->
<!--    <td><input type="text" style="width:100%;" name="part_description_new" value="e"></td>-->
<!--    <td><input type="text" style="width:100%;" name="usage_qty_old" value="f"></td>-->
<!--    <td><input type="text" style="width:100%;" name="usage_qty_new" value="g"></td>-->
<!--    <td><input type="text" style="width:100%;" name="stock_details_on_hand" value="h"></td>-->
<!--    <td><input type="text" style="width:100%;" name="stock_details_open_po" value="i"></td>-->
<!--    <td><input type="text" style="width:100%;" name="stock_details_total_stock" value="j"></td>-->
<!--    <td><input type="text" style="width:100%;" name="remarks" value="k"></td>-->
<!--    <td><input type="date" style="width:100%;" name="impl_date" value="2020-02-17"></td>-->
<!--    <td><input type="text" style="width:100%;" name="impl_serial_no" value="l"></td>-->
<!--<td-->
<a href='javascript:void(0);'  class='remove'><span class='glyphicon glyphicon-remove'></span></a>
<!-- </td></tr>-->
<!--</table></div>-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> 
<script>
$(function(){
    $('#addMore').on('click', function() {
              var data = $("#tb tr:eq(1)").clone(true).appendTo("#tb");
              data.find("input").val('');
     });
     $(document).on('click', '.remove', function() {
         var trIndex = $(this).closest("tr").index();
            if(trIndex>1) {
             $(this).closest("tr").remove();
           } else {
             alert("Sorry!! Can't remove first row!");
           }
      });
});      
</script>
<div class="ln_solid"></div>
                <div class="form-group">
                  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-4">
                    <button class="btn btn-primary" type="button">Cancel</button>
                    <button class="btn btn-primary" type="reset">Reset</button>
                    <button type="submit" class="btn btn-success">Next</button>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}