{% extends "app/base_site.html" %}

{% block title %} Table Dynamic {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
  <link href="/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <!--div class="">
        <div class="title_right">
          <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>
      </div -->

      <div class="clearfix"></div>

      <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">
          <form action="form_wizards.html" method="post" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
            {% csrf_token %}
            <div class="x_title">
              <h2>DCN Workflow Config </h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <p class="text-muted font-13 m-b-30">
                <!--The Buttons extension for DataTables provides a common set of options, API methods and styling to display buttons on a page that will interact with a DataTable. The core library provides the based framework upon which plug-ins can built.-->
                <div class="row">
                <div class="btn-group-horizontal">
                  <label>Workflow type: &nbsp;&nbsp;</label>
                  <button class="btn btn-default" type="button">Sequencial</button>
                  <button class="btn btn-default" type="button">Parallel</button>
                </div>
              </div>
              </p>
                 <table id="datatable-buttons" class="table table-bordered">
                <thead>
                  <tr>
                    <th>Department</th>
                    <th>workflow order</th>
                    <th>Deadline</th>
                    <th>Follow Up Contact</th>
                    <th>Escalation Contact</th>
                    <th>Normal Alert Frequency</th>
                    <th>Risk Alert Frequency</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Engineering</td>
                    <td><input type="text" id="order" size="5" value="1"></td>
                    <td><input type="text" id="deadline1" size="5"></td>
                    <td>
                        <div class="form-group">
                         <div class="col-sm-10">
                              <input type="text" class="form-control" data-role="tagsinput" id="tagPlaces">
                        </div>
                    </div>
                    </td>
                    <td>
                       <div class="form-group">
                        <div class="col-sm-10">
                            <input type="text" class="form-control" data-role="tagsinput" id="tagPlaces1">
                        </div>
                      </div>
                    </td>
                    <td>
                       <input type="text" id="nalert1" size="5">
                    </td>
                    <td>
                        <input type="text" id="ralert1" size="5">
                    </td>
                  </tr>

                  <tr>
                    <td>Purchase</td>
                    <td><input type="text" id="order" size="5" value="3"></td>
                    <td><input type="text" id="deadline1" size="5"></td>
                    <td>
                      <div class="form-group">
                        <div class="col-sm-10">
                          <input type="text" class="form-control" data-role="tagsinput" id="tagPlaces">
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="form-group">
                        <div class="col-sm-10">
                          <input type="text" class="form-control" data-role="tagsinput" id="tagPlaces1">
                        </div>
                      </div>
                    </td>
                    <td>
                      <input type="text" id="nalert1" size="5">
                    </td>
                    <td>
                      <input type="text" id="ralert1" size="5">
                    </td>
                  </tr>

                  <tr>
                    <td>Quality Assurance</td>
                    <td><input type="text" id="order" size="5" value="4"></td>
                    <td><input type="text" id="deadline1" size="5"></td>
                    <td>
                      <div class="form-group">
                    <div class="col-sm-10">
                          <input type="text" class="form-control" data-role="tagsinput" id="tagPlaces">
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="form-group">
                        <div class="col-sm-10">
                          <input type="text" class="form-control" data-role="tagsinput" id="tagPlaces1">
                        </div>
                      </div>
                    </td>
                    <td>
                      <input type="text" id="nalert1" size="5">
                    </td>
                    <td>
                      <input type="text" id="ralert1" size="5">
                    </td>
                  </tr>
                  <tr>
                    <td>Production</td>
                    <td><input type="text" id="order" size="5" value="2"></td>
                    <td><input type="text" id="deadline1" size="5"></td>
                    <td>
                      <div class="form-group">
                    <div class="col-sm-10">
                          <input type="text" class="form-control" data-role="tagsinput" id="tagPlaces">
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="form-group">
                        <div class="col-sm-10">
                          <input type="text" class="form-control" data-role="tagsinput" id="tagPlaces1">
                        </div>
                      </div>
                    </td>
                    <td>
                      <input type="text" id="nalert1" size="5">
                    </td>
                    <td>
                      <input type="text" id="ralert1" size="5">
                    </td>
                  </tr>
            </tbody>
              </table>
            </div>

          </div>
        </div>
        <div class="ln_solid"></div>
                <div class="form-group">
                  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-4">
                    <button class="btn btn-primary" type="button">Cancel</button>
                    <button class="btn btn-primary" type="reset">Reset</button>
                    <button type="submit" class="btn btn-success">Next</button>
                  </div>
                </div>
      </div>
    </div>
  </form>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  <!-- Datatables -->
  <script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
  <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
  <script src="/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
  <script src="/static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
  <script src="/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
  <script src="/static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
  <script src="/static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
  <script src="/static/vendors/jszip/dist/jszip.min.js"></script>
  <script src="/static/vendors/pdfmake/build/pdfmake.min.js"></script>
  <script src="/static/vendors/pdfmake/build/vfs_fonts.js"></script>
{% endblock javascripts %}
